

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fcefd9;
}

.App-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Luckiest Guy", cursive;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: 900px; /* 按鈕向右移動 50px */
  font-family: "Luckiest Guy", cursive;
}

.nav-btn {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Luckiest Guy", cursive;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.text-section {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
    font-weight: 500;
    font-style: normal;
}

.search-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.search-btn {
  padding: 10px 20px;
  background-color: rgba(0, 52, 89, 1);
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-family: "Luckiest Guy", cursive;
  margin-top: 10px;  /* 按鈕向下移動 20px */
  margin-left: 200px; /* 按鈕向右移動 50px */
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;

}

.dorm-image {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(73, 64, 64, 0.316);
  margin-top: 50px;
}

.container {

    background-image: url('主頁面.png');
    background-size: cover; /* 讓圖片填滿畫面 */
    background-position: center; /* 讓圖片置中 */
    background-repeat: no-repeat; /* 防止圖片重複 */
    min-height: 100vh; /* 讓背景填滿整個畫面 */
    min-width: 3px;
  }

 






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
