.introduce-container {
}

.introduce-title {
    text-align: left;
    font-size: 24px;
    font-weight: 100;
    font-family: "Luckiest Guy", cursive;
    margin-top: 25px;
    margin-left: 25px;
  }


  .back-btn1 {
    width: 11%;
    margin-top: 30px;
    margin-left: 500px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(0, 52, 89, 1);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-family: "Luckiest Guy", cursive;
  }